/* #content-container {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.content {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.content h2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.content h3 {
  font-size: 2rem;
  font-weight: 700;
} */

::view-transition {
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-top {
  from {
    /* transform-origin: center; */
    transform: translate(0, -50px);
  }
}

@keyframes slide-to-bottom {
  to {
    /* transform-origin: center; */
    transform: translate(0, 50px);
  }
}

.content-swap {
  view-transition-name: content-swap;
}

::view-transition-old(content-swap) {
  /* animation: 300ms linear both fade-out,
    500ms linear slide-to-bottom; */
    animation: 300ms linear both fade-out;
}

::view-transition-new(content-swap) {
  /* animation: 500ms linear 90ms both fade-in,
    600ms linear slide-from-top; */
    animation: 500ms linear both fade-in;
}