header {
  height: 100vh;
  width: 30%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
    padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar-main {
  width: 100%;
}

#xh-info-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

#xh-headshot {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-right: 24px;
}

#xh-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#xh-info * {
  margin-block: 0;
    max-width: 100%;
width: 100%;
}

#xh-info h2 {
  font-size: 1.5rem;
}

#xh-info h3 {
  font-size: 1rem;
  font-family: "Anonymous Pro";
}

#sidebar-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 50%;
  position: relative;
}

.menu-item {
  color: var(--xh-light-gray);
  margin-top: 16px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.3s;
  font-family: "Anonymous Pro";
  font-weight: 700;
}

.menu-item-link {
  display: block;
  width: 100%;
  padding: 15px 0px 15px 24px;
}

.menu-item:hover {
  background-color: var(--xh-gray);
  color: var(--xh-off-white);
  transition: ease 0.3s;
}

.active-menu-item {
  border-radius: 8px;
  font-weight: 700;
}

.active-menu-item.menu-item {
  background-color: var(--xh-mid-gray);
  color: var(--xh-white);
  transition: ease 0.3s;
}

.icon-tabler {
  transition: ease 0.3s;
  padding-right: 20px;
}

#socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 24px;
}