@import "/css/reset.css";

:root {
  view-transition-name: none;
}

html {
  height: 100vh;
  width: 100vw;
  color: #efefef;
  background-color: #090909;
  overflow: hidden;
  font-family: 'Anonymous Pro';
  line-height: 1.5rem;
}

body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Poppins';
  margin-bottom: 1rem;
}

p {
  font-size: 18px;
  margin-top: 1rem;
}

.root-container {
  display: flex;
  height: 100%;
  position: relative;
  overflow: auto;
}

/* sidebar menu */

.sidebar {
  height: 100%;
  background-color: #0f0f0f;
  position: sticky;
  top: 0;
  left: 0;
  min-width: fit-content;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  position: relative;
}

.xh-info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 0 0;
  margin-bottom: 40px;
}

.xh-headshot {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

#xh-info {
  margin: 0 10px;
}

#xh-info * {
  margin-bottom: 5px;
}

#xh-info h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

#xh-info h2 {
  font-size: .9rem;
  font-family: "Anonymous Pro";
}

#xh-info h3 {
  font-size: .8rem;
  font-family: "Anonymous Pro";
  font-style: italic;
}

.menu-item {
  color: #616161;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: ease .3s;
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 1.1rem;
}

.menu-item-link {
  display: block;
  align-items: center;
  max-width: 100%;
  padding: 10px 10px 10px 20px;
}

.menu-item-link>svg {
  margin-right: 10px;
}

.menu-item:hover {
  background-color: #212121;
  transition: ease .3s;

}

.active-menu-item {
  background-color: #363636;
  border-radius: 5px;
  font-weight: 700;
}

.active-menu-item.menu-item {
  background-color: #3d3d3d;
  color: #efefef;
}

.icon-tabler {
  transition: ease .3s;
}

/* main content */

main {
  position: relative;
  width: 100%;
}

#content-container {
  display: flex;
  align-items: center;
  margin: 140px auto 40px auto;
  max-width: 80%;
}

.content {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
}

.project-card {
  /* max-height: 300px; */
  width: calc(50% - 12px);
  min-width: 300px;
  background-color: #0f0f0f;
  border-radius: 10px;
  opacity: 1;
  transition: ease .3s;
  border: 1px solid #3d3d3d;
  position: relative;
}


@media screen and (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}

.inactive-project-card {
  opacity: .3;
  transition: ease .3s;
}

.project-img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.project-info {
  padding: 20px;
  max-height: 100%;
}

.project-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

.project-tech-used {
  display: flex;
  margin-top: 1rem;
}

.project-tech-used li {
  background-color: deeppink;
  padding: 5px;
  border-radius: 20px;
  font-size: .9rem;
  margin-right: 10px;
}

.project-proof-btns {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: max-content;
  /* position: fixed;
  bottom: 0; */
}

.project-proof-btns a {
  display: block;
  padding: 10px;
  background-color: #212121;
  color: #efefef;
  margin-right: 1rem;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  text-decoration: none;
}

.project-proof-btns a:hover {
  background-color: #3d3d3d;
}

::view-transition {
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-top {
  from {
    transform-origin: center;
    transform: translate(-50px, -50px);
  }
}

@keyframes slide-to-bottom {
  to {
    transform-origin: center;
    transform: translate(50px, 50px);
  }
}

.content-swap {
  view-transition-name: content-swap;
}

::view-transition-old(content-swap) {
  animation: 300ms linear both fade-out,
    500ms linear slide-to-bottom;
}

::view-transition-new(content-swap) {
  animation: 500ms linear 90ms both fade-in,
    600ms linear slide-from-top;
}


/* socials */

#socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0;
}