<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="root-container">
      <nav class="sidebar">
        <div class="xh-info-container">
          <div class="xh-headshot"></div>
          <div class="xh-info"><h1 class="text-xl">@xavierhillman</h1>
          <h2>Software Developer</h2>
          <h3>Massachusetts, USA</h3></div>
          
        </div>
        <ul class="sidebar-menu">
          <li class="menu-item active-menu-item"><a hx-get="/" hx-target="#content" hx-push-url="true">Home</a></li>
          <li class="menu-item"><a hx-get="/blog" hx-target="#content" hx-push-url="true">Blog</a></li>
          <li class="menu-item"><a hx-get="/projects" hx-target="#content" hx-push-url="true">Projects</a></li>
          <li class="menu-item"><a hx-get="/about" hx-target="#content" hx-push-url="true">About</a></li>
        </ul>    
        <div class="site-controls">controls</div>
      </nav>
      <main>
        <div class="main-content">
          <h2>Main Content</h2>
          
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </main>
      <!-- <ul class="socials">
        <li>G</li>
        <li>L</li>
        <li>E</li>
      </ul> -->
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
