<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="root-container">
      <nav class="sidebar">
        <div class="xh-info-container">
          <div class="xh-headshot"></div>
          <div class="xh-info">
            <h1 class="text-xl">@xavierhillman</h1>
            <h2>Software Developer</h2>
            <h3>Massachusetts, USA</h3>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li class="menu-item active-menu-item">
            <a hx-get="/" hx-target="#content" hx-push-url="true">Home</a>
          </li>
          <li class="menu-item">
            <a hx-get="/blog" hx-target="#content" hx-push-url="true">Blog</a>
          </li>
          <li class="menu-item">
            <a hx-get="/projects" hx-target="#content" hx-push-url="true"
              >Projects</a
            >
          </li>
          <li class="menu-item">
            <a hx-get="/about" hx-target="#content" hx-push-url="true">About</a>
          </li>
        </ul>
        <div class="site-controls">controls</div>
      </nav>
      <main>
        <div id="content">
          {{ block "main-content" .}}
          <h1>The Layout Page</h1>
          {{end}}
        </div>
      </main>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
