@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #ebebeb;
  }
}

html {
  box-sizing: border-box;
  font-size: 18px;
    font-family: "Geist Mono", monospace;
}


/* h1, h2, h3, .subheading {
  line-height: 1.2;
} */

p {
  line-height: 1.6;
}

.label {
  font-size: 0.618rem;
  line-height: 1.8;
}

body {
  background: var(--background);
  color: var(--foreground);

}

.tl-corner-bracket::before,
.tr-corner-bracket::after,
.bl-corner-bracket::before,
.br-corner-bracket::after {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
}

.tl-corner-bracket::before {
  top: 0;
  left: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.tr-corner-bracket::after {
  top: 0;
  right: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.bl-corner-bracket::before {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.br-corner-bracket::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.l-corner-brackets::before,
.r-corner-brackets::after {
  width: 16px;
  height: 100%;
  top: 0;
  content: "";
  position: absolute;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-image: linear-gradient(to top, #f0f0f0 16px, #0a0a0a 16px, #0a0a0a 50%,#0a0a0a 50%, #0a0a0a calc(100% - 16px), #f0f0f0 16px) 5;
}

.l-corner-brackets::before {
  left: 0;
  border-left-width: 2px;
}

.r-corner-brackets::after {
  right: 0;
  border-right-width: 2px;
}

.t-corner-brackets::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 16px;
  width: 100%;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-image: linear-gradient(to right, #f0f0f0 18px, #0a0a0a 18px, #0a0a0a 50%,#0a0a0a 50%, #0a0a0a calc(100% - 18px), #f0f0f0 18px) 5;
}

.b-corner-brackets::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 16px;
  width: 100%;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-image: linear-gradient(to right, #f0f0f0 18px, #0a0a0a 18px, #0a0a0a 50%,#0a0a0a 50%, #0a0a0a calc(100% - 18px), #f0f0f0 18px) 5;
}
